<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <compilation batchTimeout="900" debug="true" />	
  </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <httpRedirect enabled="false" destination="http://nd-twister.entegris.com/spg/MFGPROnew.html" exactDestination="true" />
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
    </system.webServer>
</configuration>